<!-- Page that determines what displays when user compares two teams: User sees this page after 'comparison.html' -->
{% extends "base.html" %}
{% block content %}
<style>
    /* Changes header's style (size & color) */
    p{
        font-size: 20px; 
    }

    row{
        color: white;
    }


</style>
<body style="background-color:rgb(253, 155, 75)"> <!-- sets background color-->
    <div class="row" style="clear: both;">
        <!--Displays user selected teams stats to compare (team_one: first selected team ; team_two: second selected team-->
      <div class="col" style="text-align: center; border-radius: 10px; margin: 1% 10% 0 10%; background-color: {{team_one.color}}; color:{% if team_one.color == '#FFFFFF' %} black {% else %} white {% endif %}"> <!-- Changes color of text when displayed by using 'color' attribute-->
            <img src="{{team_one.logo.url}}" alt="{{team_one.team}}" style="width:30%; height:auto"> <!-- Displays team logo-->
            <!--Code below displays all attributes for a team's stats-->
            <h2>{{team_one.year}}</h2>
            <p>Wins: {{team_one.wins}}</p>
            <p>Draws: {{team_one.draws}}</p>
            <p>Losses: {{team_one.losses}}</p>
            <p>Points: {{team_one.points}}</p>
            <p>Goals Scored: {{team_one.goals_scored}}</p>
            <p>Goals Allowed: {{team_one.goals_allowed}}</p>
            <p>Goals per 90: {{team_one.goals_per90}}</p>
            <p>Assists per 90: {{team_one.assists_per90}}</p>
            <p>Clean Sheets: {{team_one.clean_sheets}}</p>
            <p>Table Finish: {{team_one.table_finish}}</p>
        </div>

        <!--Repeats same as above with the second user selected team-->
        <div class="col" style="text-align: center; border-radius: 10px; margin: 1% 10% 0 10%; background-color: {{team_two.color}}; color:{% if team_two.color == '#FFFFFF' %} black {% else %} white {% endif %}">
            <img src="{{team_two.logo.url}}" alt="{{team_two.team}}" style="width:30%; height:auto">
            <h2>{{team_two.year}}</h2>
            <p>Wins: {{team_two.wins}}</p>
            <p>Draws: {{team_two.draws}}</p>
            <p>Losses: {{team_two.losses}}</p>
            <p>Points: {{team_two.points}}</p>
            <p>Goals Scored: {{team_two.goals_scored}}</p>
            <p>Goals Allowed: {{team_two.goals_allowed}}</p>
            <p>Goals per 90: {{team_two.goals_per90}}</p>
            <p>Assists per 90: {{team_two.assists_per90}}</p>
            <p>Clean Sheets: {{team_two.clean_sheets}}</p>
            <p>Table Finish: {{team_two.table_finish}}</p>
        </div>
    </div>
</body>
{% endblock content %}