<!--HTML/CSS/JavaScript code to select two teams to compare their stats: User sees this page before 'comparison-display.html'-->
{% extends "base.html" %}
{% block content %}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> <!--Imports Boostrap Framework-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!--Imports jquery Framework-->
</head>
    
<div style = 'text-align: center;'> <!--Page header-->
    <p>
        <strong style="text-align:center; font-size:30px; color:white">English Premier League Comparison Page</strong> 
    </p>

<body style="background-color:rgb(253, 155, 75)"> <!--Sets background-->

<!-- Sets style for both dropdown menus -->
<style> 
    .form-select form-select-lg mb-3{
        padding-left: 35%;
    }

    .col{
        padding-top: 10%;
    }

    .select2-container .select2-selection--single{
    height:34px !important;
    }
    .select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
    }
</style>


<form method="post" action='/comparison/'>
{% csrf_token %}


<!-- Code for both dropdown menus for user to select two teams to compare -->
<div class="container">
    <div class="row">
      <div>
      <div class="col" style = "text-align: center;">
            <select name="team_one_selection" class="form-select form-select-lg mb-3" aria-label="Default select example"> <!--Dropdown menu edits-->
                <option selected value="-1">Select Team One</option> <!-- error checking -->
                {% for team_stats in teams %}
                <option value="{{team_stats.id}}">{{team_stats.team}}, {{team_stats.year}}</option> <!-- find selected team in database-->
                {% endfor %}
            </select>
      </div>
      <!--same as above for second dropdown menu-->
      <div class="col" style=" text-align: center">
        <select name="team_two_selection" class="form-select form-select-lg" aria-label="Default select example">
            <option selected value="-1">Select Team Two</option>
            {% for team_stats in teams %}
            <option value="{{team_stats.id}}">{{team_stats.team}}, {{team_stats.year}}</option>
            {% endfor %}
          </select>
      </div>
    </div>
</div>
</div>



<h1>{{compare_error}}</h1> 
<div style = 'padding-top:10%'></div>

<button type="submit" class="btn btn-primary btn-lg">Compare</button>


</form>
</body>
{% endblock content %}