{% extends "base.html" %}
{% block content %}
<!-- simple code to tell user what each stat means -->
<body style="background-color:rgb(216, 125, 125); color: rgb(245, 245, 220);">
<h1>Premier League Statistics Explained</h1>

<p>Team- Team name</p>
<p>Year- League typically runs from August to May of the following year.</p>
<p>Wins- Number of games won in a season</p>
<p>Draws- Number of games drawn in a season</p>
<p>Losses- Number of games lost in a season</p>
<p>Goals Scored- Number of goals scored in a season</p>
<p>Goals Allowed- Number of goals allowed in a season</p>
<p>Goals per 90- Number of goals scored in 90 minutes of play(a full match). This statistic was calculated by adding goals per 90 minutes 
    of each player for the whole season, instead of using the goals per 90 of the whole squad.</p>
<p>Assists per 90- Number of assists to goals in 90 minutes of play(a full match). This statistic was calculated by adding assists per 90 
    minutes of each player for the whole season, instead of using the assists per 90 of the whole squad.</p></p>
<p>Clean Sheets- Number of games where 0 goals were allowed</p>
<p>Table Finish- Final position in the league at the end of the season</p>
</body>
{% endblock content %}