{% extends "base.html" %}
{% load static %}

{% block content %}
<body style="background-color:rgb(4,245,255)">
    <div style = 'padding-top:10%'>
    <div style = 'text-align: center;'>
    <p>
        <strong style="text-align:center; font-size:30px">English Premier League Statistical Database</strong>
    </p>
    <img src="{% static "StatsTracker\prem.png" %}" alt="Premier League Logo" style="width:25%;height:25%;">


    <!-- <img src="img_chania.jpg" alt="Flowers in Chania"> -->


</body>
{% endblock content %}
